# Public packages
click==8.0.3
pytz==2021.1
feedparser==6.0.8

# Private packages
git+ssh://git@github.com/dialect-map/dialect-map-io.git@v0.3.2#egg=dialect-map-io
git+ssh://git@github.com/dialect-map/dialect-map-schemas.git@v0.1.2#egg=dialect-map-schemas
